.hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 480px;
  width: 100vw;
  padding: 32px;
}
.hero_description p{
  display: inline;
  font-weight: 700;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #83e718, #1c7be8);
  font-size: 16px;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.3)
}
.hero_title{
  margin-top: 24px;
}
.hero_title h1{
  font-size: 32px;
  font-weight: 700;
}
.hero_title p{
  margin-top: 16px;
  margin-bottom: 32px;
  color: #232323;
  font-size: 18px;
  font-weight: 500;
}
.hero_image{
  text-align: center;
}
.hero_image img{
  height: auto;
  width: 400px;
  border-radius: 20px;
  object-fit: contain;
}
