footer{
  min-height: 35vh;
  width: 100%;
  padding: 64px;
  color: #f5f5f5;
  background-color: #232323;
  margin-top: 32px;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-areas:
    "website institutional project socials";
}
footer h4{
  font-weight: 700;
  font-size: 18px;
}
li a{
  font-weight: 400;
  text-decoration: none;
  color: #cccccc;
  transition: 0.2s ease-in;
}
footer a:hover{
  transition: 0.2s ease-in;
  color: #ffffff;
}
.footer_website p {
  font-weight: 500;
  margin-top: 8px;
  width: 90%;
}
.footer_divider{
  margin-right: 32px;
}
.footer_list{
  padding: 16px 0 0 6px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer_list li{
  width: 100%;
}
.footer_socials{
  margin:16px 0 0 8px;
  display: flex;
  gap: 16px;
}
.footer_socials svg{
  width: 28px;
  height: 28px;
}
@media screen and (max-width: 1080px){
  footer{
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "website institutional"
    "project socials";
    row-gap: 24px;
    column-gap: 48px;
  }
}
@media screen and (max-width: 592px){
  footer{
    grid-template-columns:1fr;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    "website"
    "institutional"
    "project"
    "socials";
    column-gap: 48px;
  }
}