.explanation{
    
}
.explanation_start{
    max-width: 640px;
    margin: 0 auto 0 auto;
}
.explanation h2{
    text-align: center;
    font-weight: 700;
    font-size: 28px; 
    margin-bottom: 18px;
    color: rgb(25, 25, 25);
}
.explanation h3{
    text-align: center;
    font-weight: 700;
    font-size: 24px; 
    color: rgb(25, 25, 25);
    margin: 22px 0 8px 0;
}
.explanation h4{
    text-align: center;
    font-weight: 700;
    font-size: 20px; 
    color: rgb(25, 25, 25);
    margin-bottom: 8px;
}
.explanation p{
    line-height: 1.9;
    color: rgb(40, 40, 40);
    font-size: 16px;
}
.explanation ol{
    margin: 24px 0 12px 0;
    padding: 0 48px 0 48px;
}
.explanation li{
    
    margin: 12px 0 22px 0;
}
.explanation li p {
    line-height: 1.5;
    font-weight: 500;
    color: rgb(40, 40, 40);
    font-size: 14px;
}
.reason{
    max-width: 640px;
    margin: 0 auto 0 auto;
}