.textarea {
    width: 40%;
    height: 55px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    display: flex;

}


.h2 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.ul {
    width: 40%;
    height: 120px;
    flex-direction: column;
    overflow: auto;
    display: flex;
    box-sizing: 12px 20px;
    border: 2px solid #0f0e0e;
    border-radius: 4px;
    background-color: #f8f8f8;
   margin-left: auto;
   margin-right: auto;
   line-height: 2;

}

.divTextArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.button {
    width: 8%;
    height: 30px;
    border-radius: 10px;
    background-color: rgba(12, 99, 231, 0.527);
    border: 0;


}