.crown{
  height: 80px;
  padding: 8px;
  display: flex;
  width: 100vw;
}
.crown_logo{
  margin-left: 12px;
  width: 40vw;
}
.crown_account{
  width: 60vw;
  display: flex;
  justify-content: right;
  gap: 64px;
  align-items: center;
}