.crown{
  padding: 8px;
  display: flex;
  width: 100vw;
}
.crown_logo{
  margin-left: 12px;
  width: 70vw;
}
.crown_account{
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}